In [3]:
import pandas as pd
import statistics as sts
import seaborn as sb

In [5]:
dados = pd.read_csv('tempo.csv', sep=';')
dados.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [14]:
#Umidade (RESOLVER NA)
media = sts.median(dados['Umidade'])
dados['Umidade'].fillna(media, inplace=True)
agrupado = dados.groupby(["Umidade"]).size()
dados.loc[(dados['Umidade'] < 0 ) | (dados['Umidade'] > 130), 'Umidade'] = media
agrupado

Umidade
65.00    1
70.00    3
75.00    1
80.00    1
85.00    1
85.25    1
85.50    1
86.00    1
90.00    2
91.00    1
95.00    1
dtype: int64